[init]
	defaultBranch = main
[user]
	email = ngyentrunghieu742003@gmail.com
	name = hiengyen
[core]
  editor = "nvim"
[safe]
	directory = /etc/nixos
	directory = /home/hiengyen/nixos
	directory = /home/hiengyen/.dotfiles/ohmyzsh/.oh-my-zsh


